<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="#" data-toggle="main-sidebar"><i class="fa fa-lg fa-bars" style="color:white;"></i></a>
  <!--
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <i class='fa fa-lg fa-bars' style="color:white;"></i>
  </a>
  -->

  <div class="logo">
    <span class=""><%= image_tag('branding/light-alpine-logo.png', :height => 25, :alt => '[alpine logo]') %></span>
  </div>
  <div class="search">
    <form action="#">
      <div class="chorus_search_container"><span class="search_magnifying_glass"><input type="text" name="search_text" placeholder="Search" required=""><a href="#" class="chorus_search_clear hidden"><span class="fa fa-times search_clear"></span></a></span></div>
    </form>
    <div class="type_ahead_search type_ahead_result hidden" style="left: 160px;"></div>
  </div>
  <!-- Header Navbar -->
  <div class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <!--
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    -->
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <!--
        <li class="dropdown messages-menu">
          -- Menu toggle button --
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              -- inner menu: contains the messages --
              <ul class="menu">
                <li> -- start message --
                  <a href="#">
                    <div class="pull-left">
                      -- User Image --
                      < %#= image_tag('user2-160x160.jpg', :height => 32, :alt => '[User]') %>
                    </div>
                    -- Message title and timestamp --
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    -- The message --
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li> -- end message --
              </ul> -- /.menu --
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li> -- /.messages-menu --
        -->

        <!-- Notifications Menu -->
        <!--
        <li class="dropdown notifications-menu">
          -- Menu toggle button --
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              -- Inner Menu: contains the notifications --
              <ul class="menu">
                <li> -- start notification --
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li> -- end notification --
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        -->
        <!-- Tasks Menu -->
        <li class="dropdown tasks-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="lozenge empty">0</div>
            <!--
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">9</span>
            -->
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 9 tasks</li>
            <li>
              <!-- Inner menu: contains the tasks -->
              <ul class="menu">
                <li><!-- Task item -->
                  <a href="#">
                    <!-- Task title and progress text -->
                    <h3>
                      Design some buttons
                      <small class="pull-right">20%</small>
                    </h3>
                    <!-- The progress bar -->
                    <div class="progress xs">
                      <!-- Change the css width attribute to simulate progress -->
                      <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                  </a>
                </li><!-- end task item -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all tasks</a>
            </li>
          </ul>
        </li>
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <% image_tag('user2-160x160.jpg', :height => 20, :alt => '[User]') %>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">Alexander Pierce</span>&nbsp;&nbsp;<span class="fa fa-lg fa-caret-down" id="primary-data"></span>
          </a>
            <ul class="dropdown-menu">
            <li class="underline">
              <a href="#/users/1" id="header_userProfileLink">
                Your Profile
              </a>
            </li>
            <li>
              <a href="http://alpine.atlassian.net/wiki/display/CD5/Chorus+Documentation+Home" target="_blank" class="helpLink" id="header_helpLink">
                Documentation
              </a>
            </li>

            <li class="help_and_support">
              <a href="#" id="header_aboutLink">
                Help and Support
              </a>
            </li>

            <li class="underline">
              <a href="#/about" id="header_aboutLink">
                About
              </a>
            </li>
            <li>
              <a href="#/logout" id="header_logoutLink">
                Sign Out
              </a>
            </li>
          </ul>
        </li>
        <!--
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
        -->
      </ul>
    </div>
  </div>
  <div class="dashboard_sub_header page_sub_header" id="page_sub_header" data-template="dashboard/sub_header"><div>
    <span id="sub_header_pagetitle">Administration</span>
    <div class="right">
      <a href="#/users/1/dashboard_edit" class="container">
        <div class="button configure" title="Configure this page">
          <span class="fa fa-cog"></span>
        </div>
      </a>
    </div>
  </div>
  </div>
</header>
