<p>Please correct following errors and resubmit.</p>
<div class="alert alert-danger" role="alert">
    <ul>
        <% messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
</div>