<table id="users_table" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Department</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'table_row' , collection: users , as: :user %>
  </tbody>
</table>